@import url(https://fonts.googleapis.com/css?family=Dosis);

html,
body {
  font-family: "Dosis";
  font-weight: 100;
  background-color: aliceblue;;
}

.header {
  width: 100%;
  text-align: right;
  top: 0;
  position: sticky;
}

.label {
    align-items: center;
    text-align: center;
    color: black;
  }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
}

.logo {
  position: absolute;
  top: 0;
  left: 11.5em;
  font-size: 32px;
  font-weight: 100;
  padding: 26px;
  color: black;
  opacity: 0.6;
  transition: 0.5s;
}

.logo:hover {
  opacity: 1;
  transition: 0.5s;
}

.link {
  display: inline-block;
  padding: 15px 0;
  right: 20.5em;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
  transition: 0.5s;
}

#card {
  background: ghostwhite;
  margin: auto;
  top: 10em;
  height: 400px;
  width: 650px;
  border: solid 3px black;
  position: relative;
}

#leftbox {
  float: left;
  width: 49%;
  overflow: hidden;
}

textarea {
  margin: 20px;
  border: none;
  resize: none;
  font-size: 13px;
  background: ghostwhite;
}

#rightbox {
  float: right;
  width: 50%;
}

#send input {
  float: right;
  display: block;
  margin: 20px;
  height: 90px;
  width: 70px;
  background-color: #404040;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.line {
  margin-top: 10%;
  height: 340px;
  border-left: solid 1px black;
}

#input {
  padding-top: 180px;
}

#input input {
  margin: 20px 20px 40px 30px;
  display: block;
  width: 265px;
  font-size: 16px;
  border: none;
  border-bottom: solid 2px black;
  font-family: helvetica;
  background: ghostwhite;
}

.social-menu ul{
    position: absolute;
    top: 75%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}