@import url(https://fonts.googleapis.com/css?family=Dosis);

html,
body {
  font-family: "Dosis";
  font-weight: 100;
  background-color: aliceblue;
}

.header {
  width: 100%;
  text-align: right;
  top: 0;
  position: sticky;
}

h1 {
  font-size: 5em;
  color: black;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

p {
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 0px;
}

img {
  margin-top: 15em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
}

.label {
  align-items: center;
  text-align: center;
  color: black;
}

.logo {
  position: absolute;
  top: 0;
  left: 11.5em;
  font-size: 32px;
  font-weight: 100;
  padding: 26px;
  color: black;
  opacity: 0.6;
  transition: 0.5s;
}

.logo:hover {
  opacity: 1;
  transition: 0.5s;
}

.link {
  display: inline-block;
  padding: 15px 0;
  right: 20.5em;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
  transition: 0.5s;
}

.center {
  align-items: center;
  text-align: center;
  margin-top: 12em;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-top: 1em;
  width: 10em;
  height: 4em;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.4em;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #146e17;
  color: white;
}