@import url(https://fonts.googleapis.com/css?family=Dosis);

html,
body {
  font-family: "Dosis";
  font-weight: 100;
  background-color: aliceblue;
}

.header {
  width: 100%;
  text-align: right;
  top: 0;
  position: sticky;
}

.label {
  align-items: center;
  text-align: center;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
}

.logo {
  position: absolute;
  top: 0;
  left: 11.5em;
  font-size: 32px;
  font-weight: 100;
  padding: 26px;
  color: black;
  opacity: 0.6;
  transition: 0.5s;
}

.logo:hover {
  opacity: 1;
  transition: 0.5s;
}

.link {
  display: inline-block;
  padding: 15px 0;
  right: 20.5em;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
  transition: 0.5s;
}

h1 {
  font-weight: bold;
  text-align: center;
}

p,
span {
  font-weight: 300;
  text-align: center;
  color: black;
}

.pBestSeller {
  margin-top: -2.3em;
  font-size: 1.5em;
  color:#123411;
  font-weight: bold;
  text-decoration: underline;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin-top: 10em;
  width: 50%;
  height: 20rem;
  padding: 0 2rem 3rem;
}

.monitor1 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  background-image: url("LGUG.png");
  background-color: aliceblue;
  background-position: top 1rem center;
  background-size: 80%;
  background-repeat: no-repeat;
  border:solid 0.1rem;
}

.monitor2 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  background-image: url("huaweiMonitor.png");
  background-color: aliceblue;
  background-position: top 1rem center;
  background-size: 120%;
  background-repeat: no-repeat;
  border:solid 0.1rem;
}

.tv {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  background-image: url("TV.png");
  background-color: aliceblue;
  background-position: top 0.1rem center;
  background-size: 90%;
  background-repeat: no-repeat;
  border:solid 0.1rem;
}

.name {
  position: absolute;
  bottom: 3.5rem;
  left: 0;
  right: 0;
  display: block;
  padding: 0 1.5rem;
}

.description {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: block;
  padding: 0 1.5rem;
}
.box:hover {
  transform: scale(1.1);
}

.avaliacao {
  text-align: center;
  font-size: 2em;
  color: green;
}

.LGUG {
  margin-top:10em;
  margin-left: 24.5em;
}


.LGUG h1 {
  text-align: left;
  margin-top: -2em;
  margin-left: 7em;
  margin-bottom: 2em;
  font-size: 3em;
}

.LGUG p {
  text-align: left;
  margin-left: 20em;
  font-size: 1.5em;
  margin-bottom: -1em;
  font-weight: bold;
}

.LGUP p.avaliacao {
  font-size: 2em;
  color: green;
}

.LGUG p.preco {
  margin-top: 2em;
  font-weight: bold;
}

.LGUG p.disponivel {
  color:yellowgreen;
  font-weight: bold;;
}

.LGUG p.indisponivel {
  color:red;
  font-weight: bold;
}

.LGUG p.cancelarTexto {
  text-decoration:line-through;
}

.LGUG input {
  text-align: left;
  margin-left: 2.8em;
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

.LGUG input::placeholder {
  font-size: 0.9em;
}

.btnDisponivel {
  margin-top: 1em;
  width: 10em;
  height: 4em;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.4em;
  transition-duration: 0.4s;
  margin-left: 4.8em;
}

.btnIndisponivel {
  margin-top: 1em;
  width: 10em;
  height: 4em;
  background-color: #af4c4c;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.4em;
  transition-duration: 0.4s;
  margin-left: 4.8em;
}

.btnDisponivel:hover {
  background-color: #146e17;
  color: white;
}